@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

body {
    background:url(../Openclassroom-project5-master/images/wjyRlqm.jpg);
    opacity: 0.9;

}
#wrapperId{
    background: linear-gradient(to left, purple, blue);
    opacity: 0.9;
    border-radius: 10px;
    margin-top: 25vh;
    padding: 20px;
    height: 500px;
}

h1{
    font-family: 'Gochi Hand', cursive;
    font-size: 3em;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;

    -webkit-animation: ease-in .5s ease infinite;

    color: white;
    text-align: center;
    line-height: 100px;
    text-shadow: 0 1px 0 #CCC,
    0 2px 0 #CCC,
    0 3px 0 #CCC,
    0 4px 0 #CCC,
    0 5px 0 #CCC,
    0 6px 0 transparent,
    0 7px 0 transparent,
    0 8px 0 transparent,
    0 9px 0 transparent,
    0 10px 10px rgba(0, 0, 0, .6);
}

@-webkit-keyframes ease-in {
    100% {
        top: -30px;
        text-shadow: 0 1px 0 #CCC,
        0 2px 0 #CCC,
        0 3px 0 #CCC,
        0 4px 0 #CCC,
        0 5px 0 #CCC,
        0 6px 0 #CCC,
        0 7px 0 #CCC,
        0 8px 0 #CCC,
        0 9px 0 #CCC,
        0 30px 30px rgba(0, 0, 0, .3);
    }
}

label{

    margin-left: 250px;
    color: white;

}
p {
    color: white;
    font-size: 1.5em;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
}
.subject {



}
.start{

    text-align: center;
    margin-left: 300px;
}

.start{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    font-size: 15px;
}
.start:hover{
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 10;
    -webkit-animation-name: mycoolAnimation;

}
@-webkit-keyframes mycoolAnimation {
    0%{
        -webkit-transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(0deg);
    }
    50%{
        -webkit-transform: rotate(0deg) scale(1.1, 1.1);
        background-color: yellow;
    }
    75%{
        -webkit-transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(0deg);
    }
}